{% include 'header.html' %}
<body>
<div class="container text-center">
    <form id="userData" action="{{ url_for('authenticate_user') }}" method="POST">
        <div class="col-lg-4 mx-auto mt-5 pt-5 fs-1 fw-bold">
            <label for="username">Username</label>
            <input name="username" type="text" class="form-control fs-5" id="username" placeholder="Username" pattern=".{2,}" title="Minimum 2" value="{{ username }}" required>
        </div>

        <div class="col-lg-4 mx-auto mt-2 fs-1 fw-bold">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control fs-5" id="password" placeholder="Password" pattern=".{8,}" title="Minimum 8" value="{{ password }}" required>
        </div>
        {% if pass_inc %}
        <div class="row text-center mt-2 fw-bold text-danger">
            <h5>Password Incorrect</h5>
        </div>
        {% elif name_inc %}
        <div class="row text-center mt-2 fw-bold text-danger">
            <h5>Login Incorrect</h5>
        </div>
        {% endif %}
        <div class="col-lg-5 mx-auto mt-3 ">
            <button class="btn btn-primary text-uppercase btn-light w-50 fs-5 fw-bold" id="signIn" type="submit">Login</button>
        </div>
    </form>
    <div class="col-lg-5 mx-auto  mt-2 ">
            <button class="btn btn-primary text-uppercase btn-light w-50 fs-5 fw-bold" id="signUp" type="submit">Register</button>
    </div>
</div>
</body>
{% include 'footer.html'%}